/* body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

/* label {
  display: block;
} */
.appDiv {
  display: flex;
  flex-direction: column;
}
.homeDiv {
  height: 300px;
  border-width: thin;
  text-align: center;
}
.logo {
  font-size: 80pt;
  color: #b5943f;
}
.logoDiv {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box2 {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
