body {
  height: 100vh;
  width: 100vw;
}
.appDiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.background {
  position: fixed;
  background-image: url('https://i.imgur.com/9KWwYFy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

.wallpaper {
  position: fixed;
  background-image: url('https://i.imgur.com/6gce6tj.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 25px;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.homeDiv {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.logoDiv {
  display: flex;
  flex-direction: column;
}
.logo {
  font-family: 'Cookie', cursive;
  font-size: 140pt;
  color: #7d4600;
}
.img {
  max-width: 300px;
}
.box2 {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}
form div {
  margin: 1em;
  display: inline-block;
}
.imgDiv {
  position: absolute;
  bottom: 2px;
}
.imgG {
  max-width: 50px;
}
.buttonLogo {
  font-family: 'Cookie', cursive;
  font-size: 20pt;
  color: #7d4600;
}
.singleProductDiv {
  display: flex;
  flex-direction: column;
}
